@font-face {
    font-family: OpenCloud;
    src: url('opencloud-500.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: OpenCloud;
    src: url('opencloud-750.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
