@font-face {
    font-family: OpenTalk;
    src: url('opentalk-500.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: OpenTalk;
    src: url('opentalk-750.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
