auto-install-peers=true
shared-workspace-lockfile=true

# for md-editor-v3
hoist-pattern[]=*@codemirror*
hoist-pattern[]=*@lezer*

# c.f. https://github.com/vuejs/test-utils/pull/2197
hoist-pattern[]=@vue/server-renderer

# eslint and prettier (public so they are picked up by IDEs)
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
