{
  "server" : "",
  "auth": {
    "clientId": "",
    "url": "",
    "authUrl": ""
  },
  "apps" : [
    "files",
    "pdf-viewer",
    "preview",
    "search",
    "text-editor",
    "epub-reader"
  ],
  "applications" : []
}
