.oc-background-contain {
  background-size: contain;
}

.oc-background-cover {
  background-size: cover;
}

.oc-background-contain,
.oc-background-cover {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.oc-surface {
  background-color: var(--oc-role-surface) !important;
}

.oc-surface-container {
  background-color: var(--oc-role-surface-container) !important;
}

.oc-surface-container-high {
  background-color: var(--oc-role-surface-container-high) !important;
}

.oc-surface-container-highest {
  background-color: var(--oc-role-surface-container-highest) !important;
}

.oc-surface-container-low {
  background-color: var(--oc-role-surface-container-low) !important;
}

.oc-surface-container-lowest {
  background-color: var(--oc-role-surface-container-lowest) !important;
}

.oc-secondary-container {
  background-color: var(--oc-role-secondary-container) !important;
}
