@font-face {
  font-family: OpenCloud;
  src: url('./../assets/fonts/OpenCloud500-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenCloud;
  src: url('./../assets/fonts/OpenCloud750-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url('./../assets/fonts/inter.woff2') format('woff2');
  font-weight: 100 900;
  font-style: oblique 0deg 12deg;
}
