:root {
  --vp-font-family-base: 'OpenCloud', 'Inter', sans-serif;
  --vp-c-brand-1: var(--oc-role-secondary);
}

.title span {
  font-size: 14px;
}

// some vitepress styles need to be overwritten to properly display our components
button.oc-button-passive-outline:focus:not(:focus-visible) {
  outline: 1px solid var(--oc-role-outline) !important;
}
.oc-modal-title > h2 {
  padding: 0 !important;
  border: 0 !important;
}
ol.oc-pagination-list {
  list-style: none !important;
}
p.oc-recipient-name {
  line-height: unset !important;
  margin: 0 !important;
}

@font-face {
  font-family: OpenCloud;
  src: url('./../../../src/assets/fonts/OpenCloud500-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenCloud;
  src: url('./../../../src/assets/fonts/OpenCloud750-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
