:root {
	--vp-font-family-base: 'OpenCloud', sans-serif;
	--vp-c-brand-1: var(--oc-color-swatch-inverse-contrast);
}

// TODO: remove as soon as we load our oc theme colors on theme switch
.dark {
    body, h1, h2, h3, h4, h5, h6, p {
        color: var(--oc-color-swatch-inverse-default);
        --vp-c-brand-1: var(--oc-color-swatch-brand-default);
    }
}

// some vitepress styles need to be overwritten to properly display our components
button.oc-button-passive-outline:focus:not(:focus-visible) {
    outline: 1px solid var(--oc-color-swatch-passive-default) !important;
}
.oc-modal-title > h2 {
    padding: 0 !important;
    border: 0 !important;
}
ol.oc-pagination-list {
    list-style: none !important;
}

@font-face {
    font-family: OpenCloud;
    src: url('./../../../src/assets/fonts/OpenCloud500-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: OpenCloud;
    src: url('./../../../src/assets/fonts/OpenCloud750-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
